.reveal h5, .reveal h6 { 
  margin-top: 1.5rem;
  color: inherit;
}

.custom code{
    color: #ff2f86
}

.reveal .warning {
  background-color: rgba(253, 0, 0, 0.253);
  padding: 5px;
}

/* Couleurs IMTS */ 
.bleu { color:#046db4 !important; }
.vert { color:#8ebe1c !important; }
.rose { color:#e7007c !important; }

.customjs {
    background-color: #504e9e
}

.reveal pre {
  width:95%;
}

.reveal section figure img {
  border:0;
  box-shadow: none;
}

.reveal section img {
  border:0;
  box-shadow: none;
}

.reveal section img .center {
  display: block;
margin-left: auto;
margin-right: auto;
}

.reveal section img.right, .reveal section img[src*="#right"] {
  float:right;
  width: 30%;
}


.reveal figcaption h4 {
  font-size: 1em;
}

/* Own stuff */
.center-img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}


.right-img {
  display: block;
  margin-left: auto;
  margin-right: 0;
  width: 40%;
}

h6 {
  text-align: left;
padding-top: 15px;}